.games-main-container {
    padding: 20px 20px 0;
    width: 85vw;
    height: 90vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.greeting {
    display: flex;
    flex-direction: row;
    /* background-color: #0C0C0C; */
    background: linear-gradient(to right, #0C0C0C, #0197FF);
    padding: 10px;
    height: fit-content;
    border-radius: 20px;
    width: 81vw;
    justify-content: center;
    align-items: center;
}

.logo-home {
    width: 100%;
    max-width: 30em;
    margin-bottom: 30px;
}

.greeting-text {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 700;
    font-size: 75px;
}

.game-thumbnail {
    width: 100%;
    max-width: 8em;
    border-radius: 5px;
    margin-bottom: 10px;
}

.game-card-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-card-description {
    color: white;
}

.games-container-card {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 20px;
    /* height: 100vh; */
}

.userAvatar, .gameThumbnail {
    background-color: white;
    border: solid 1px white;
}

.gamePost-user-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

.gamePost-date-time {
    font-size: 12px;
}

.post-game-name {
    color: white;
    font-weight: 900;
    font-size: 15px;
}

.game-buttons-container {
    display: flex;
    gap: 8px;
    width: 37em;
}

.game-description-container {
    display: flex;
    flex-direction: row;
    width: 30em;
    line-height: 0;
    background-color: #1C1C1C;
    gap: 40px;
}

.category-game {
    display: flex;
    flex-direction: column;
    /* background-color: #0197FF; */
    justify-content: space-between;
    /* line-height: 0; */
    align-items: start;
}

.uploadImage-tags-container {
    display: flex;
    flex-direction: row;
}

.tag-category {
    max-width: 250px;
    max-height: 20px ;
}

.game-like-counter {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #0197FF;
    height: 3em;
    align-items: center;
    justify-content: end;
}

.gameReviews-container {
    height: 38em;
    width: 63%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.commenter-reviews-prof {
    width: 100%;
    max-width: 3.5em;
    background-color: white;
    border-radius: 50%;
    border: solid 2px white;
}

.review-userDets {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    justify-content: space-between;
}

.userReview-container {
    background-color: #0C0C0C;
    padding: 14px;
    border-radius: 10px;
    width: 50em;
    height: fit-content;
    border: solid 1px #424242;
    margin-bottom: 8px;
}

.modal-main-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.writeReview-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 34%;
    flex-direction: column;
    padding: 10px;
}


