@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600;700&display=swap');

.home-main-container {
    /* background-color: red; */
    padding: 0px 20px 0;
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.greeting {
    display: flex;
    flex-direction: row;
    /* background-color: #0C0C0C; */
    background: linear-gradient(to right, #0C0C0C, #0197FF);
    padding: 10px;
    height: fit-content;
    border-radius: 20px;
    width: 81vw;
    justify-content: center;
    align-items: center;
}

.logo-home {
    width: 100%;
    max-width: 15em;
    height: 15em;
}

.greeting-text {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 700;
    font-size: 75px;
}

.text-greeting {
    margin-right: 40px;
}