.nav-container {
    width: 25vh;
    justify-content: start;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: #0C0C0C;

}

.nav-logo {
    width: 100%;
    max-width: 3em;
    max-height: 3em;
    border-radius: 50%;
    border: solid 2px white;
    margin-bottom: 10px;
}

.username {
    font-size: 13px;
    font-weight: 900;
    margin-bottom: 20px;
}

.navLinks {
    gap: 10px;
    text-decoration: none;
    width: 8em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    margin-bottom: 3px;
}

.navLinks:hover{
    background-color: #171717;
    color: white;
}

.nav-icons {
    width: 100%;
    max-width: 1.2em;
}