.poster {
    width: 100%;
    max-width: 30em;
    margin-bottom: 80px;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-left: solid 2px white;
}

.radio-prof {
    width: 100%;
    max-width: 80px;
    margin-top: 10px;
}

.profile-radio {
    height: fit-content;
    margin-bottom: 20px;
}

.select-prof-label {
    color: white;
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px;
    margin-right: 29em;
}

.register-form-container {
    width: 20em;
}

.login-poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}