.poster {
    width: 100%;
    max-width: 40em;
    margin-right: 50px;
    margin-bottom: 80px;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-left: solid 2px white;
    width: 40em;
}

.radio-prof {
    width: 100%;
    max-width: 80px;
    margin-top: 10px;
}

.profile-radio {
    height: fit-content;
    margin-bottom: 20px;
}

.select-prof-label {
    color: white;
    font-weight: 700;
    font-size: 15px;
}