.error-main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to right, #0C0C0C, #0197FF); */
}

.message {
    color: #660000;
}

.char {
    width: 100%;
    max-width: 17em;
}

.error-message {
    display: flex;
    flex-direction: row;
    pad: 20px;
    border-radius: 20px;
    border: solid 1px #C1C1C1;
    width: 44em;
    background-color: #0C0C0C;
    line-height: 0;
}
